<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" id="search_bar" name="search" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% if @results %>
  <ul>
    <% @results.each do |innovation| %>
      <li>
        <%= link_to innovation.title, innovation_path(innovation) %>
      </li>
    <% end %>
  </ul>
<% end %>
