<h2><%= @innovation.title %> has been flagged for review</h2>

<p>
Your innovation, <%= @innovation.title %>, is currently suspended on <%= link_to "FirstToDisclose", root_url %>. It is being reviewed by admins and you will be notified when any further action is taken.
</p>
