<h1><%= !@user.name.blank? ? @user.name : @user.email %>'s Innovations</h1>

<% @user.innovations.each do |innovation| %>
  <div class="col-sm-4">
    <div class="panel panel-primary innovationDisplayTile">
      <div class="panel-heading"><h2 class="panel-title"><%= link_to innovation.title, innovation_path(innovation) %></h2></div>
      <div class="panel-body">
        <p><%= innovation.abstract %></p>
      </div>
    </div>
  </div>
<% end %>
