<h1>Revision History of <%= @revisions.first.innovation.title %></h1>

<% @revisions.each do |revision| %>
  <h2><%= link_to "#{revision.title} - #{revision.created_at}", revision_path(revision) %></h2>
  <hr/>
<% end %>
