<h1>Revision History of <%= link_to @revisions.first.innovation.title, innovation_path(@revisions.first.innovation) %></h1>

<ol>
  <% @revisions.each do |revision| %>
    <li>
      <h2><%= link_to "#{revision.title}", revision_path(revision) %></h2>
      <div><%= "#{revision.created_at} by #{revision.user.email}" %></div>
      <hr/>
    </li>
  <% end %>
</ol>
