<a href="http://firsttodisclose.net/">FirstToDisclose.net</a> is a
    community-powered online repository for inventors to
    disclose their inventions and other innovations to the public. The use of
    FirstToDisclose.net may help prevent another person or
    entity from claiming patent protection on your
    idea.

    While we understand and fully support the
    commercialization of intellectual property in our
    information economy, we also applaud those who are
    willing to make their innovations open to the public
    without charge.    
  </p>

  <p class="paragraphText">
    This is a prototype implementation should be considered a work in
    progress.
    For more information or to help out with the project
    see <a href="http://law.mit.edu/firsttodisclose">law.mit.edu/firsttodisclose</a>.
  </p>

    <p class="paragraphText">
    For more information
    see <a href="http://firsttodisclose.info/">firsttodisclose.info</a></p>