<h1>Disclose your inventions and innovations</h1>

<p>
  <a href="http://firsttodisclose.net/">FirstToDisclose.net</a> is a
  community-powered online repository for inventors to
  disclose their inventions and other innovations to the public.
  The use of
  FirstToDisclose.net may help prevent another person or
  entity from claiming patent protection on your
  idea.

  While we understand and fully support the
  commercialization of intellectual property in our
  information economy, we also applaud those who are
  willing to make their innovations open to the public
  without charge.    
</p>

<%= image_tag "5258264961_27fb3cfea6_m.jpg" %>

<p>
  This is a prototype implementation should be considered a work in
  progress.
  For more information or to help out with the project
  see <a href="http://law.mit.edu/firsttodisclose">law.mit.edu/firsttodisclose</a>.
</p>

<p>
  For more information
  see <a href="http://firsttodisclose.info/">firsttodisclose.info</a>
</p>

<h1>Support your hackathon</h1>

<%= image_tag "3265063956_a74c4873ef_o.jpg", :class => 'welcome_banner' %>
