
  <h1>Disclose your inventions and innovations</h1>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-default">
                <div class="panel-heading">Panel heading1</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

      
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
                <div class="panel-heading">Panel heading2</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
    </div>
  </div>
  <!-- <div class="row">
        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel
                </div>
            </div>

        

            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            </div>
            

            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
            </div>
            
        </div>

                    
                    
                </div> -->






