<div id="main_home_wrapper">
<h1 class="home_header" id="main_home_header">Disclose your inventions and innovations</h1>
<div class="row">
  <div class="col-sm-6 home_button">
    
    <%= image_tag('light-bulb', class: "home_image")%>

    <%= link_to "Share", new_innovation_path, class: "btn btn-danger btn-raised button_center" %>
  </div>
  <div class="col-sm-6 home_button">
    <%= image_tag('magnifying_glass', class: "home_image") %>
    <%= link_to "Search", innovations_path, class: "btn btn-danger btn-raised button_center" %>
  </div>
</div>
<div class="row">
  <p>FirstToDisclose.net</a> is a
  community-powered online repository for inventors to
  disclose their inventions and other innovations to the public.
  The use of
  FirstToDisclose.net may help prevent another person or
  entity from claiming patent protection on your
  idea.</p>

  <p>While we understand and fully support the
  commercialization of intellectual property in our
  information economy, we also applaud those who are
  willing to make their innovations open to the public
  without charge.</p>
</div>

</div>