<h2>Tag: <%= @tag.name %></h2>

<% if @tag.innovations.any? %>
  <% @tag.innovations.each do |innovation| %>
    <p>
      <%= link_to innovation.title, innovation_path(innovation) %>
    </p>
  <% end %>
<% end %>
