<h1>Listing Innovations</h1>

<% @innovations.each do |innovation| %>
  <h2><%= link_to innovation.title, innovation_path(innovation) %></h2>
  <blockquote><%= innovation.abstract %></blockquote>
  <p><%= innovation.body %></p>
  <hr/>
<% end %>

<%= link_to 'New Innovation', new_innovation_path %>
