<h1>FAQ</h1>
<p>
  FirsttoDisclose.org is provided free-of-charge to help inventors easily and intelligently exercise their intellectual property (IP) rights. Every effort has been made to this effect. However, we are obligated to provide the following disclaimer.
</p>

<p>
  All materials on this site are meant to provide general information regarding certain areas of law for discussion purposes, and not to provide legal advice of any kind. The views expressed by authors on this website do not necessarily reflect the views of Brooklyn Law School. Neither Brooklyn Law School, its employees, students, nor any other entity accepts responsibility for any loss that may arise from reliance on information contained on this site. Inventors should ensure that they are familiar with and understand the laws relevant to patent protection prior to disclosing their invention. By using this website, you understand that no attorney-client relationship has been formed between you and the writers, editors, publishers, or moderators of this site. Submitting any materials to the site does not create an attorney-client relationship. The site should not be used as a substitute for legal advice from a licensed attorney in your state. Users should seek the advice of counsel at their sole discretion.
  </p>

<p>
  <strong>What is a patent?</strong>: In essence, a patent is a social contract between an inventor and society: the inventor discloses their invention to the public and in return the inventor is granted a temporary right to exclude. A patent is not an affirmative right, but rather a right to exclude others from making or practicing an invention. Generally, patents are considered the strongest form of IP protection, but also the shortest in duration. Patents have a “term” or life of 20 years from the date of first application (not issuance). For more general information on patents, please visit the website of the United States Patent and Trademark Office (USPTO) at www.uspto.gov.
</p>

<p>
  <strong>
    Why Would You Disclose Your Invention Publicly?:
  </strong>
</p>

<p>
  The purpose of FirsttoDisclose.org is simple – allow inventors to publicly and sufficiently disclose their invention so as to prevent others from "winning" the race to file at the USPTO. The one-year grace period for filing a subsequent patent can allow time for inventors to retain counsel to draft a patent application and, especially in the case of small inventors, procure needed funding to do so.
  </p>

<p>
  Public disclosure of an invention under specific conditions may assist an inventor in later procuring patent protection pursuant to the Leahy-Smith America Invents Act (AIA), certain provisions of which go into effect on March 16, 2013. In part, the AIA modifies federal law (in particular, Chapter 35 of the United States Code) so that an inventor who discloses an invention publicly precludes others who independently develop that invention from gaining patent protection. Such a disclosure also starts a one-year “grace period” during which the disclosing inventor must file for a patent or forfeit patent protection. Please be aware the “grace period” is not extendable – failure to file within one year of your first public disclosure will preclude any rights to a U.S. patent.
  </p>

<p class="red">
  Importantly, an inventor’s public disclosure of an invention prior the filing of a corresponding patent application may irreversibly sacrifice patent rights in certain jurisdictions, in particular nations other than the United States. Inventors considering public disclosure should carefully weigh the benefits that a disclosure produces with the negatives of sacrificing possible protection in other countries.
  </p>
